<!DOCTYPE html>
<html lang="ru">
<head>
	<title>Telemedecina</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="phone.css">
	<script src="phone.js"></script>
</head>
<body>
	<div class="main">
		<h2 class="title">Вход</h2>
		<div class="some">Введите ваш номер телефона</div>
		<div class="num">
			<spam class="num1B">
				<span class="num1">+7</span>
			</spam>
			<spam class="num2B">
				<input class="num2" type="number" value="9040003300" autofocus>
			</spam>
		</div>
		<button class="submitB">
			<img class="mail" src="../../img/mail.svg" alt="">
			<span class="submit">Отправить код</span>
		</button>
		<div class="documents">Авторизируясь, вы принимаете <a href="index.html">пользовательское соглашение</a>, а также <a href="index.html">согласие на обработку персональных данных</a></div>
	</div>
</body>
</html>
